@model collegemainatanceportal.Models.Complaint

<h2>Update Complaint Status</h2>

<form asp-action="Edit" method="post">

    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label>Status</label>

        <select asp-for="Status" class="form-control">

            <option value="Pending">Pending</option>
            <option value="In Progress">In Progress</option>
            <option value="Completed">Completed</option>

        </select>

    </div>

    <br>

    <button type="submit" class="btn btn-success">
        Update Status
    </button>

</form>