@{
    ViewData["Title"] = "Home";
}

<div class="container mt-5">

    <!-- Hero Section -->
    <div class="text-center mb-5">
        <h1 class="display-4 fw-bold text-primary">
            🏫 Smart Campus Complaint Portal
        </h1>
        <p class="lead">
             Efficient Campus Maintenance Management
        </p>

        <a href="/Complaint/Create" class="btn btn-primary btn-lg me-3">
            <i class="fa-solid fa-plus"></i> Raise Complaint
        </a>

        <a class="btn btn-success btn-lg" asp-controller="Complaint" asp-action="Index">
            Track Complaints
        </a>
    
</div>


   
           
    


  



